# Veri Yapıları
---

# Konular
- String
    - print()
        - Escape Karakterleri, end, sep
        - %s ve .format()
    - input()
    - len()
    - Indexing ve Slicing
    - type()
    - String Methods
- Numbers
    - Operatorler (+ - * / // % **)
    - Increment & Decrement (+= -= *= /=)
    - integer <--> float
    - Binary, Decimal, Octal. Hexadecimal
    - Mantiksal Operatorler (< > <= >= == != & | !)
    - max(), min(), pow(), abs(), round()
- List
    - Indexing ve Slicing
    - List Methods
    - range() Objesi

# String
---

In [1]:
'Tek Tirnak'

'Tek Tirnak'

In [79]:
"Ya da Cift Tirnak"

'Ya da Cift Tirnak'

## print() Fonksiyonu
---

In [3]:
print("Hello World")

Hello World

In [4]:
print('2354') # Burada 2354 bir karakter dizisi

2354

In [5]:
print(2354) # Burada ise integer (dogal sayi)

2354

In [6]:
name = "ITU"
surname = "Robotics"
print(name)
print(surname)

ITU
Robotics

In [7]:
print(name + surname)

ITURobotics

In [8]:
print(name + " " + surname)

ITU Robotics

In [9]:
print(name, surname) # Virgul iki degiskeni arasinda bir bosluk birakarak print eder

ITU Robotics

In [10]:
print(5 * 3) # Buradaki 5 int objesi

15

In [11]:
print("5" * 3) # Buradaki 5 string objesi

555

### Escape Karakterleri, end, ve sep
---

<pre>
\n 	New Line
\t 	TAB
\\ 	Backslash (\)
\' 	Single quote (')
\" 	Double quote (")
\a 	Bell</pre>

In [12]:
print("Hello\tWorld") # Tab boslugu (4 space)

Hello	World

In [13]:
print("'Elma'")
print('"Elma"')
print("\"Elma\"")
print("Backslash \\")

'Elma'
"Elma"
"Elma"
Backslash \

In [14]:
print("Python\nCok\nKolay")

Python
Cok
Kolay

In [15]:
# Default durumda end = '\n'

str1 = 'Papatya'
str2 = 'Ortanca'
print(str1)
print(str2)

Papatya
Ortanca

In [16]:
print(str1, end='')
print(str2)

PapatyaOrtanca

In [17]:
print(str1, end='-')
print(str2)

Papatya-Ortanca

In [18]:
# Default durumda sep = ' '
print(str1, str2)
print(str1, str2, sep = " <----> ")

Papatya Ortanca
Papatya <----> Ortanca

In [19]:
print('Merhaba' * 2, "Hello" * 3, "Hola" * 2, sep = " +++ ", end = "||||")
print('New Line')

MerhabaMerhaba +++ HelloHelloHello +++ HolaHola||||New Line

### %s ve .format
---

In [20]:
x = 'Alex'
print("My name is %s" %x)

My name is Alex

In [21]:
y = 21
print("I am %s years old" %y)

I am 21 years old

In [22]:
print ("Floating point number: %1.4f" %(3.14159265))

Floating point number: 3.1416

In [23]:
print ("Floating point number: %1.3f" %(3.14))

Floating point number: 3.140

In [24]:
print ("Floating point number: %30.2f" %(3.1415)) # whitespaces (virgulden onceki kisim icin 30 karakterlik yer ayir)

Floating point number:                           3.14

In [25]:
num1 = 50
num2 = 95
print("First Number = %s and Second Number = %s" %(num1, num2))

First Number = 50 and Second Number = 95

In [26]:
print("First: {x}\tSecond: {y}".format(x = "0001", y= "0002"))

First: 0001	Second: 0002

In [27]:
print("{x} {y} {z} {x} {x}".format(y = 32, x = 543, z = 27))

543 32 27 543 543

## input() Fonksiyonu
---

In [31]:
a = input()

 Blue

In [32]:
a

'Blue'

In [33]:
name = input("Enter your name:")
print("Hi", name)

Enter your name: Jack

Hi Jack

In [34]:
age = input("Enter your age:")

Enter your age: 21

## len() Fonksiyonu
---

In [35]:
metin = "Lorem ipsum dolor sit amet"
len(metin)

26

## Indexing ve Slicing
---

In [36]:
str = "HelloWorld"
len(str)

10

In [37]:
str[0]

'H'

In [38]:
print(str[0],str[2],str[4],str[6],str[8])

H l o o l

In [39]:
str[-2]

'l'

In [40]:
str[3:] # 3den sona kadar

'loWorld'

In [41]:
str[:6] # Bastan 6ya kadar (6 dahil degil)

'HelloW'

In [42]:
# str[start:stop:step]

str[5:9]

'Worl'

In [43]:
str[2:7:2]

'loo'

In [44]:
str[::3] # Bastan sona 2ser

'Hlod'

In [45]:
str[::-1] # Reverse

'dlroWolleH'

In [46]:
str + "Merhaba"

'HelloWorldMerhaba'

In [47]:
z_letter = "z"
print(z_letter*10)

zzzzzzzzzz

## type() Fonksiyonu
---

In [48]:
a = "bir string"
b = 1864
c = 3.1415926535
d = [a,b,c]

In [49]:
type(a)

str

In [50]:
type(b)

int

In [51]:
type(c)

float

In [52]:
type(d)

list

## String Methods
---

In [53]:
s = "Hello"

In [54]:
s.upper()

'HELLO'

In [55]:
s.lower()

'hello'

In [56]:
s.split('e') # e'den ikiye ayirdi

['H', 'llo']

In [57]:
data = "itu,ytu,odtu,boun"
data.split(",")

['itu', 'ytu', 'odtu', 'boun']

In [58]:
sos = "Welcome to the jungle"
sos.split() # Default degeri " " karakteridir

['Welcome', 'to', 'the', 'jungle']

In [59]:
len(sos)

21

In [60]:
len(sos.split())

4

In [61]:
sos.split()[-1]

'jungle'

In [62]:
s = "hello world"

In [63]:
s.partition('e') # Split ile farkli ayirici karakteri de katmasi

('h', 'e', 'llo world')

In [64]:
s.count('o') # Karakteri kac adet iceriyor

2

In [65]:
s.find('l') # Karakterin indexi (birden cok varsa ilk bastaki)

2

In [66]:
print("Hello\tWorld")

Hello	World

In [67]:
print("Hello\tWorld".expandtabs(16))

Hello           World

In [68]:
myString = "ITURobotics1773"

myString.isalnum() # Is all characters alphanumeric? (sadece harfler ve sayilar)

True

In [69]:
myString.isalpha() # Is all characters alphabetic? (sadece harfler)

False

In [70]:
myString.islower() # Tum karakterler lowercase mi?

False

In [71]:
myString.isupper() # Tum karakterler uppercase mi?

False

In [72]:
myString.isspace() # Bosluk mu? (Tum karakterler space olmali)

False

In [73]:
s1 = "hello world"
s1.istitle()

False

In [74]:
s1 = "Hello World"
s1.istitle()

True

In [75]:
myString.endswith("3")

True

# Numbers
---

## Operatorler
---

In [7]:
5 + 2

7

In [8]:
5.2 + 4.6

9.8

In [9]:
5 * 6 - (1 + 3.5)

25.5

In [54]:
4 ** 3

64

In [11]:
5 / 2 # True Division

2.5

In [12]:
5 // 2 # Integer Division

2

In [15]:
float(5) / 2

2.5

In [17]:
5.0 / 2

2.5

In [18]:
19 % 7 # Mod alma, Modulo, Bolumunde Kalan

5

In [22]:
2.52e3 # 2.52*10**3

2524.8

In [23]:
4**0.5 # Square root, kok4

2.0

In [24]:
a = 5
b = 4
c = a + 2 * b
print(c)

13

In [108]:
r = 2.0
PI = 3.14
alan = PI * r**2
print(alan)

12.56

## Increment & Decrement (+= -= *= /=)
---

In [102]:
i = 5
i = i + 2
print(i)

7

In [103]:
i = 5
i += 2
print(i)

7

In [104]:
i -= 1 # i = i - 1
print(i)

6

In [121]:
# Atamalar
num = 5
num *= 2
# Sorgu
num == 10

True

In [127]:
num = 10
num /= 4
print("Number:", num)

Number: 2.5

In [128]:
num = 10
num //= 4
print("Number:", num)

Number: 2

## int <--> float
---

In [29]:
int(10.4)

10

In [30]:
a = 45
b = float(a)
print(b)

45.0

## Sayi Tabani
---

In [46]:
number = 22

In [47]:
bin(number) # Binary 2lik

'0b10110'

In [48]:
oct(number) # Octal 8lik

'0o26'

In [49]:
hex(number) # Hexadecimal 16lik

'0x16'

In [51]:
bin(123141) # ilk bit isareti belirtir

'0b11110000100000101'

In [52]:
bin(-123141)

'-0b11110000100000101'

## Mantiksal Operatorler
---

In [58]:
5 > 2

True

In [59]:
4 < 1

False

In [64]:
(3 + 2) > 4

True

In [67]:
4 * 2.2 >= 8.7

True

In [68]:
(2 + 2) == 4

True

In [78]:
5 != 2 + 5

True

In [82]:
(1 == 1) and (1 > 2)

False

In [84]:
(1 == 1) or (2 > 1)

True

In [88]:
not(1 == 1)

False

In [89]:
2 + 1 is 3 # == ile ayni

True

## max(), min(), pow(), abs(), round()
---

In [144]:
max(1,46,23.2,12)

46

In [145]:
min(1,46,-23.2,12)

-23.2

In [146]:
5 ** 3

125

In [147]:
pow(5, 3) # Power

125

In [149]:
pow(81, 0.5) # kok81

9.0

In [150]:
abs(-5) # Absolute Value

5

In [151]:
abs(45) + abs(-45)

90

In [152]:
abs(3-4j) # Complex sayilarin mutlak degeri

5.0

In [153]:
abs(12+5j)

13.0

In [156]:
int(3.75)

3

In [159]:
round(3.75)

4

In [160]:
PI = 3.14159265
round(PI, 2)

3.14

In [161]:
round(PI, 4)

3.1416

# List
---

In [163]:
my_list = [1,2,3]

In [165]:
my_list

[1, 2, 3]

In [166]:
my_list = ['string', 23, 0.1, 'o', False] # Bir list farkli tipte veriler icerebilir

In [167]:
len(my_list)

5

In [168]:
my_list = ['ONE', 'TWO', 'THREE', 4, 5]
my_list[1:]

['TWO', 'THREE', 4, 5]

In [169]:
my_list[:2]

['ONE', 'TWO']

In [170]:
my_list[::-1] # Reverse

[5, 4, 'THREE', 'TWO', 'ONE']

In [171]:
my_list = my_list + [6, 7] # Concatinating my_list += [6, 7]

In [175]:
str = "Hello "
str += "World"
print(str)

Hello World

In [176]:
print(my_list)
my_list = my_list + [8] * 3 # En sona 8 elemanini 3 kere ekledim
print(my_list)

['ONE', 'TWO', 'THREE', 4, 5, 6, 7]
['ONE', 'TWO', 'THREE', 4, 5, 6, 7, 8, 8, 8]

In [179]:
my_list * 2

['ONE',
 'TWO',
 'THREE',
 4,
 5,
 6,
 7,
 8,
 8,
 8,
 'ONE',
 'TWO',
 'THREE',
 4,
 5,
 6,
 7,
 8,
 8,
 8]

## List Methods
---

In [184]:
l = [1,2,3]

In [185]:
l.append("sona eklenecek eleman")

In [186]:
print(l)

[1, 2, 3, 'sona eklenecek eleman']

In [187]:
l.pop() # Sondan bir eleman atar ve onu print eder

'sona eklenecek eleman'

In [188]:
print(l)

[1, 2, 3]

In [189]:
l.pop(1) # Index belirtmek mumkun

2

In [190]:
print(l)

[1, 3]

In [ ]:
l[10] # Hata verecektir

In [197]:
my_list = ['b','c','d','y','z','i']
print(my_list)

['b', 'c', 'd', 'y', 'z', 'i']

In [198]:
my_list.reverse() # my_list[::-1]
print(my_list)

['i', 'z', 'y', 'd', 'c', 'b']

In [200]:
my_list.sort() # Alphabetic veya Numeric
print(my_list)

['b', 'c', 'd', 'i', 'y', 'z']

In [203]:
my_list = [] # Bos bir list objesi
my_list.append(0.1)
my_list.append(11)
my_list.append(-5)
my_list.append(8.5)
my_list.pop(0)
print(my_list)

[11, -5, 8.5]

In [204]:
my_list.sort()
print(my_list)

[-5, 8.5, 11]

In [ ]:
my_list.append("BU BIR STRING")
my_list.sort() # Hata verecektir

In [213]:
row1 = [1.2, 0, 8] # Satir 1
row2 = [2j, 1, -1] # Satir 2
row3 = [5, 2e2, 1] # Satir 3

matrix = [row1,row2,row3]
print(matrix)

[[1.2, 0, 8], [2j, 1, -1], [5, 200.0, 1]]

In [214]:
matrix[1] # 2. Satir

[2j, 1, -1]

In [216]:
matrix[2][1] # 3. Satir, 2. Sutun

200.0

In [218]:
l = [1,1,1,0,1,0,1,1,0,1,0,1,0,1,0,0,0,0,0,1]
l.count(1) # Kac tane var?

10

In [221]:
liste = ["a", "b", "c", "d"]
liste.append('b')
liste.pop(0)
liste.count('b')

2

In [222]:
liste.count('a')

0

In [224]:
string1 = "HelloPython"
list(string1) # String to List

['H', 'e', 'l', 'l', 'o', 'P', 'y', 't', 'h', 'o', 'n']

In [225]:
x = [1, 2, 3]
x.append([4, 5]) # [4, 5] alt kumesini ekle
print(x)

[1, 2, 3, [4, 5]]

In [226]:
x = [1, 2, 3]
x.extend([4, 5]) # Birden cok elemani append etmek icin kullanilir
print(x)

[1, 2, 3, 4, 5]

In [227]:
a = [1,2,3]
b = [4,5,6]
b.extend(a)
print(b)

[4, 5, 6, 1, 2, 3]

In [263]:
elemanlar = ['e', 'a', 'i', 0, False, "Harika!", 0]

In [264]:
elemanlar.index('i') # Elemanin index numarasi

2

In [265]:
elemanlar.index(0) # Birden cok varsa en bastakini verir

3

In [266]:
elemanlar.pop(elemanlar.index('Harika!')) # Harika stringini bul ve sil

'Harika!'

In [267]:
elemanlar.remove('a')

In [268]:
print(elemanlar)

['e', 'i', 0, False, 0]

In [269]:
elemanlar.insert(2, "ITU") # .insert(index, object)
print(elemanlar)

['e', 'i', 'ITU', 0, False, 0]

In [272]:
string = "sajkdhassadaida"
liste = list(str)
liste.sort()
print(liste)

['a', 'a', 'a', 'd', 'd', 'h', 'i', 'j', 'k', 's', 's']

# Tesekkurler...