# Veri Yapıları
---

## Konular
- String
    - print()
        - Escape Karakterleri, end, sep
        - %s ve .format()
    - input()
    - len()
    - Indexing ve Slicing
    - type()
    - String Methods
- Numbers
    - integer <--> float
    - Operatorler (+ - * / // % **)
    - Mantiksal Operatorler (< > <= >= == != & | !)
    - Binary, Decimal, Octal. Hexadecimal
    - max(), min(), pow(), abs(), round()
- List
    - Indexing ve Slicing
    - List Methods
    - range() Objesi

## String
---

In [1]:
'Tek Tirnak'

'Tek Tirnak'

In [2]:
"Yada Cift Tirnak"

'Yada Cift Tirnak'

### print() Fonksiyonu
---

In [3]:
print("Hello World")

Hello World

In [4]:
print('2354') # Burada 2354 bir karakter dizisi

2354

In [5]:
print(2354) # Burada ise integer (dogal sayi)

2354

In [6]:
name = "ITU"
surname = "Robotics"
print(name)
print(surname)

ITU
Robotics

In [7]:
print(name + surname)

ITURobotics

In [8]:
print(name + " " + surname)

ITU Robotics

In [9]:
print(name, surname) # Virgul iki degiskeni arasinda bir bosluk birakarak print eder

ITU Robotics

In [10]:
print(5 * 3) # Buradaki 5 int objesi

15

In [11]:
print("5" * 3) # Buradaki 5 string objesi

555

#### Escape Karakterleri, end, ve sep
---

\n 	New Line
\t 	TAB
\\ 	Backslash (\)
\' 	Single quote (')
\" 	Double quote (")
\a 	Bell

In [12]:
print("Hello\tWorld") # Tab boslugu (4 space)

Hello	World

In [13]:
print("'Elma'")
print('"Elma"')
print("\"Elma\"")
print("Backslash \\")

'Elma'
"Elma"
"Elma"
Backslash \

In [14]:
print("Python\nCok\nKolay")

Python
Cok
Kolay

In [15]:
# Default durumda end = '\n'

str1 = 'Papatya'
str2 = 'Ortanca'
print(str1)
print(str2)

Papatya
Ortanca

In [16]:
print(str1, end='')
print(str2)

PapatyaOrtanca

In [17]:
print(str1, end='-')
print(str2)

Papatya-Ortanca

In [18]:
# Default durumda sep = ' '
print(str1, str2)
print(str1, str2, sep = " <----> ")

Papatya Ortanca
Papatya <----> Ortanca

In [19]:
print('Merhaba' * 2, "Hello" * 3, "Hola" * 2, sep = " +++ ", end = "||||")
print('New Line')

MerhabaMerhaba +++ HelloHelloHello +++ HolaHola||||New Line

#### %s ve .format
---

In [20]:
x = 'Alex'
print("My name is %s" %x)

My name is Alex

In [21]:
y = 21
print("I am %s years old" %y)

I am 21 years old

In [22]:
print ("Floating point number: %1.4f" %(3.14159265))

Floating point number: 3.1416

In [23]:
print ("Floating point number: %1.3f" %(3.14))

Floating point number: 3.140

In [24]:
print ("Floating point number: %30.2f" %(3.1415)) # whitespaces (virgulden onceki kisim icin 30 karakterlik yer ayir)

Floating point number:                           3.14

In [25]:
num1 = 50
num2 = 95
print("First Number = %s and Second Number = %s" %(num1, num2))

First Number = 50 and Second Number = 95

In [26]:
print("First: {x}\tSecond: {y}".format(x = "0001", y= "0002"))

First: 0001	Second: 0002

In [27]:
print("{x} {y} {z} {x} {x}".format(y = 32, x = 543, z = 27))

543 32 27 543 543

### input() Fonksiyonu
---

In [31]:
a = input()

 Blue

In [32]:
a

'Blue'

In [33]:
name = input("Enter your name:")
print("Hi", name)

Enter your name: Jack

Hi Jack

In [34]:
age = input("Enter your age:")

Enter your age: 21

### len() Fonksiyonu
---

In [35]:
metin = "Lorem ipsum dolor sit amet"
len(metin)

26

### Indexing ve Slicing
---

In [36]:
str = "HelloWorld"
len(str)

10

In [37]:
str[0]

'H'

In [38]:
print(str[0],str[2],str[4],str[6],str[8])

H l o o l

In [39]:
str[-2]

'l'

In [40]:
str[3:] # 3den sona kadar

'loWorld'

In [41]:
str[:6] # Bastan 6ya kadar (6 dahil degil)

'HelloW'

In [42]:
# str[start:stop:step]

str[5:9]

'Worl'

In [43]:
str[2:7:2]

'loo'

In [44]:
str[::3] # Bastan sona 2ser

'Hlod'

In [45]:
str[::-1] # Reverse

'dlroWolleH'

In [46]:
str + "Merhaba"

'HelloWorldMerhaba'

In [47]:
z_letter = "z"
print(z_letter*10)

zzzzzzzzzz

### type() Fonksiyonu
---

In [48]:
a = "bir string"
b = 1864
c = 3.1415926535
d = [a,b,c]

In [49]:
type(a)

str

In [50]:
type(b)

int

In [51]:
type(c)

float

In [52]:
type(d)

list

### String Methods
---

In [53]:
s = "Hello"

In [54]:
s.upper()

'HELLO'

In [55]:
s.lower()

'hello'

In [56]:
s.split('e') # e'den ikiye ayirdi

['H', 'llo']

In [57]:
data = "itu,ytu,odtu,boun"
data.split(",")

['itu', 'ytu', 'odtu', 'boun']

In [58]:
sos = "Welcome to the jungle"
sos.split() # Default degeri " " karakteridir

['Welcome', 'to', 'the', 'jungle']

In [59]:
len(sos)

21

In [60]:
len(sos.split())

4

In [61]:
sos.split()[-1]

'jungle'

In [62]:
s = "hello world"

In [63]:
s.partition('e') # Split ile farkli ayirici karakteri de katmasi

('h', 'e', 'llo world')

In [64]:
s.count('o') # Karakteri kac adet iceriyor

2

In [65]:
s.find('l') # Karakterin indexi (birden cok varsa ilk bastaki)

2

In [66]:
print("Hello\tWorld")

Hello	World

In [67]:
print("Hello\tWorld".expandtabs(16))

Hello           World

In [68]:
myString = "ITURobotics1773"

myString.isalnum() # Is all characters alphanumeric? (sadece harfler ve sayilar)

True

In [69]:
myString.isalpha() # Is all characters alphabetic? (sadece harfler)

False

In [70]:
myString.islower() # Tum karakterler lowercase mi?

False

In [71]:
myString.isupper() # Tum karakterler uppercase mi?

False

In [72]:
myString.isspace() # Bosluk mu? (Tum karakterler space olmali)

False

In [73]:
s1 = "hello world"
s1.istitle()

False

In [74]:
s1 = "Hello World"
s1.istitle()

True

In [75]:
myString.endswith("3")

True

## Numbers
---